:root{
    --max-page-width: 1400px;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


body{
    font-family: 'Roboto', sans-serif;
    max-width: var(--max-page-width);
    margin: auto;
}
img{
    max-width: var(--max-page-width);
}

table {
    border-collapse: collapse;
}

.ugly-table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}


.margin-top-20 {
    margin-top: 20px;
}

.pretty-table {
    width: 100%;
    border: none;
}

.pretty-tr > th {
    background: #4CAF50;
    border: none;
    color: #f2f2f2;
}

.pretty-tr > td {
    text-align: center;
    border: none;
}

.pretty-tr:nth-child(even){background-color: #f2f2f2}

.pretty-table > th {
    background-color: #4CAF50;
    color: white;
}