.add-event-form {
    width: 90%;
    background: var(--card-background);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    top: 5rem;
}

.add-event-all-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-event-row-wrapper {
    width: 100%;
    margin-bottom: 1.4rem;
    display: flex;
    flex-direction: column;
}

.add-event-img-input-wrapper {
    position: relative;
    width: 100% ;
}

.add-event-img-input-wrapper.error .add-event-form-input {
    border-color: var(--error-color);
}
.add-event-img-input-wrapper.error i.add-event-input-img {
    color: var(--error-color);
}

i.add-event-input-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3rem;
    left: .6rem;
    color: var(--primary-color);
}

.add-event-input-label {
    font-weight: 300;
    font-size: .8rem;
    padding-left: 2rem;
}

.add-event-form-input {
    padding: 1rem 1.5rem 1rem 2.2rem;
    border: 1px solid var(--primary-color);
    border-radius: 36px;
    width: 100%;
    font-size: .9rem;
}

.add-event-form-text-area {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 1rem 1.5rem 1rem 2.2rem;
    font-size: .9rem;
}

.add-event-title {
    position: absolute;
    top: -50px;
    text-align: center;
    width: 100%;
    left: 0;
    font-weight: 400;
    letter-spacing: 0.0175rem;
}

.add-event-image-wrapper {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-event-row-title {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.add-event-image {
    height: 160px;
}

.add-event-image-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.add-event-buttons-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: -12.5rem;
    width: 90%;
}

#add-event-form-reset-button {
    background: var(--secondary-color);
}

#add-event-form-remove-button {
    background: var(--error-color);
}

.add-event-form-button {
    padding: 1rem;
    background: var(--primary-color);
    color: var(--text-color-on-primary);
    font-size: 1.1rem;
    letter-spacing: .001rem;
    text-transform: uppercase;
    border-radius: 36px;
    transition: .3s all ease-in-out;
    cursor: pointer;
    width: 100%;
    margin-bottom: .7rem;
}

.add-event-form-button:hover:enabled {
    transform: scale(.98);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.add-event-form-button:disabled {
    color: var(--disabled-color);
    background: var(--disabled-background);
    cursor: not-allowed;
}

.add-event-additional-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.add-event-input-error {
    color: var(--error-color);
    position: absolute;
    left: 2rem;
    font-size: .8rem;
}

select.add-event-form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media (min-width: 600px) {
    .add-event-form {
        margin-bottom: 5rem;
        flex-direction: row;
        align-items: baseline;
        padding: 2rem;
        top: 10rem;
    }

    .add-event-form-button {
        width: initial;
    }

    .add-event-image-wrapper {
        width: 80%;
        flex: 1;
        padding: 0 3rem;
    }

    .add-event-buttons-wrapper {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: flex-start;
        bottom: -5rem;
    }

    .add-event-image-wrapper .add-event-row-wrapper {
        margin-top: 1rem;
    }

    .add-event-all-inputs {
        flex: 2;
    }
}