.nav-bar {
    z-index: 10;
    width: 100%;
    background: var(--primary-color);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s ease-in-out;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-bar.closed {
    height: 0;
}

.left-menu, .right-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.menu-item {
    height: 20%;
    width: 100%;
    color: var(--text-color-on-primary);
}

.menu-item.menu-hello {
    display: none;
}

.menu-item a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item:hover :not(.menu-hello) {
    transition: all .2s ease-in-out;
    background: var(--text-color-on-primary);
    color: var(--primary-color);
}

.top-right-button {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    padding: .5rem;
}

.top-right-button.closed {
    display: none;
}

#open-navbar-button {
    background: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.top-right-button i {
    font-size: 2rem;
    color: var(--text-color-on-primary);
}


.logo img {
    width: 0;
    background: var(--primary-color)
}

.logo p {
    background: var(--primary-color);
}

.nav-bar.closed .logo p {
    display: none;
}


@media (min-width: 600px) {
    .nav-bar.closed {
        height: 4rem;
    }

    .nav-bar {
        flex-direction: row;
        position: fixed;
        justify-content: space-between;
    }

    .top-right-button {
        display: none;
    }

    .left-menu, .right-menu {
        flex-direction: row;
    }

    .left-menu {
        justify-content: flex-start;
    }

    .right-menu {
        justify-content: flex-end;
    }

    .menu-item.menu-hello {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-item {
        height: 100%;
        width: 20vw;
    }

    .menu-item a {
        font-size: 1rem;
    }

    .under-nav {
        padding-top: 4rem;
    }

    .logo img {
        width: 30px;
    }

    .logo p {
        display: none;
    }
}

@media (min-width: 900px) {
    .menu-item {
        height: 100%;
        width: 12rem;
    }

    .nav-bar.closed .logo p {
        display: block;
    }

    .logo p {
        display: block;
        letter-spacing: initial;
        text-transform: none;
        font-family: 'Charm', cursive;
        padding-left: 1rem;
    }
}