:root {
    --max-page-width: 1200px;
    --muted-text-color: #6c757d;
    --not-black-color: #424242;
    --card-background: #ffffff;
    --background: #f2f2f2;
    --primary-color: #4f8f5f;
    --secondary-color: #c98e75;
    --error-color: #e74c3c;
    --error-background: bisque;
    --text-color-on-primary: #fff;
    --card-text: #232F34;
    --card-meta-text: #757575;
    --disabled-background: #dddddd;
    --disabled-color: #9b9b9b;

    --dialog-background: #ffffff;
    --dialog-title-color: rgba(0, 0, 0, .87);
    --dialog-text-color: rgba(0, 0, 0, .6);
    --dialog-button-hover-background: rgba(79, 143, 95, .08);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

input, label {
    display: block;
}

ul {
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}