@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Zawartość koszyka:</p>
    @{
        var counter = 1;
    }
    @if (Model.events.Count != 0)
    {
        foreach (var item in Model.BasketSet.BasketPositions)
        {
            <code>@counter ) <strong>@item.Event.Name</strong>, @item.Quantity</code>
            <br/>
            counter++;
        }
    }
</div>