.auth-form-page {
    background: var(--background);
    height: 100vh;
}

.auth-form-card {
    background: var(--card-background);
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.auth-form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.auth-form-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    margin-top: -5rem;
    margin-bottom: 2rem;
}

.auth-form-input {
    padding: 1rem 1.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 36px;
    width: 90%;
    font-size: .9rem;
    margin-bottom: 1rem;
}


.auth-form-button {
    padding: 1rem;
    background: var(--primary-color);
    color: var(--text-color-on-primary);
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 90%;
    border-radius: 36px;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.auth-form-error {
    position: absolute;
    top: 1rem;
    padding: 1rem;
    background: var(--error-background);
    color: var(--error-color);
    width: 90%;
    border-radius: 1rem;
    border: 1px solid var(--error-color);
    text-align: center;
}


.auth-toggle-link {
    margin-top: 1rem;
    color: var(--secondary-color);
    text-decoration: none;

    position: relative;
}

.auth-toggle-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--secondary-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.auth-toggle-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.auth-form-image-wrapper {
    display: none;
}

.auth-form-button:hover:enabled {
    transform: scale(.98);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.auth-form-button:disabled {
    color: var(--disabled-color);
    background: var(--disabled-background);
    cursor: not-allowed;
}

.auth-form-input.error {
    border-color: red;
    animation: shake .4s;
}

@media (min-width: 600px) {
    .auth-form-card {
        height: 400px;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .auth-form-input-wrapper {
        margin-top: 0;
    }
}

@media (min-width: 900px) {
    .auth-form-card {
        width: 90%;
        height: 80%;
    }

    .auth-form-image {
        width: 100%;
    }

    .auth-form-image-wrapper {
        display: block;
        width: 40%;
        padding: 24px;
        flex: 1;
        position: relative;
    }

    .auth-form-image-title {
        position: absolute;
        top: -50px;
        font-weight: 300;
        text-align: center;
        width: 100%;
    }

    .auth-form-wrapper {
        flex: 2;
        position: relative;
    }

    .auth-form-error {
        width: 90%;
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}